- name: Enable Firewall
  ufw:
    state: disabled
    default: deny
    logging: 'on'

- name: Allow SSH
  ufw:
    rule: allow
    port: ssh
    proto: tcp

- name: Ratelimit SSH
  ufw:
    rule: limit
    port: ssh
    proto: tcp


